<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035515167907-g236vqb7nlaf2o4muvr97l59si5qrnq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035515167907-g236vqb7nlaf2o4muvr97l59si5qrnq9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1035515167907-96o0gmvmodjm0229dnn2kfc2f87r2g4u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAnm77dw9p-SQ8Qp_V8yksXnWJd30IwTWc</string>
	<key>GCM_SENDER_ID</key>
	<string>1035515167907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.godigi.closer</string>
	<key>PROJECT_ID</key>
	<string>closer-685f2</string>
	<key>STORAGE_BUCKET</key>
	<string>closer-685f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035515167907:ios:ca97cfbfbd5d0bed1cab16</string>
</dict>
</plist>